@import "tailwindcss";

:root {
  /* --theme-primary: #93c5fd;
  --theme-secondary: #1e90ff; */
  --theme-alt: #22c55e;
  --sun: #f6df35;
}

body.light-theme {
  --bg-primary: #fafafa;
  --bg-secondary: #e5e5e5;
  --bg-tertiary: #a3a3a3;

  --text-primary: #0a0a0a;
  --text-secondary: #171717;
  --text-tertiary: #262626;

  --border-primary: #d6d3d1;
  --border-secondary: #e7e5e4;

  --theme-primary: #93c5fd;
}

body.dark-theme {
  --bg-primary: #0a0a0a;
  --bg-secondary: #171717;
  --bg-tertiary: #262626;

  --text-primary: #fafafa;
  --text-secondary: #e5e5e5;
  --text-tertiary: #a3a3a3;

  --border-primary: #292524;
  --border-secondary: #1c1917;

  --theme-primary: #3b82f6;
}

.bg-main {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.text-main {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-tertiary {
  color: var(--text-tertiary);
}

.border-main {
  border-color: var(--border-primary);
}
.border-secondary {
  border-color: var(--border-secondary);
}

.theme-primary {
  background: var(--theme-primary);
}

.theme-secondary {
  background: var(--theme-secondary);
}

.theme-alt {
  background: var(--theme-alt);
}
