@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  /* font-family: "EB Garamond", serif; */
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}
