@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
  overflow: visible;
  display: block;
}

.action-menu-nav {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 90vw, 400px);
  border: 2px solid var(--text-primary);
  height: 50px;
  border-radius: 15px;
  background: var(--bg-secondary);
  z-index: 50;
  animation: slideOnUp 0.5s ease-in-out 0.1s forwards;
  opacity: 0;
}
.action-menu-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.action-menu-li {
  height: 100%;
}

.action-menu-a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: var(--text-tertiary);
}

.active-link {
  color: var(--text-primary);
}

/* Profile card */

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.profile-card-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.img-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.avatar {
  height: auto;
  width: 100%;
  min-width: 100px;
  border-radius: 50%;
  border: 5px double var(--text-secondary);
  background-color: var(--bg-secondary);
}

.myName {
  font-size: 2em;
}

.handle {
  color: var(--text-tertiary);
}

.myTitle {
  color: var(--text-secondary);
  letter-spacing: 3px;
}

.bio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 1em 2em;
}

.email {
  border: 1px solid var(--text-tertiary);
  background-color: var(--color-mist-600);
  color: var(--text-secondary);
  padding: 0.3em 2em;
  border-radius: 10px;
}

.skill-ul,
.social-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skill-icon {
  font-size: 1.6em;
  color: var(--text-tertiary);
  transition: color 0.3 ease-in-out;
  cursor: pointer;
}

.skill-icon:hover {
  color: var(--text-primary);
}
